:root {


    /* light mode
    --blz-bg-800: #8A8A8A;
    --blz-bg-400: #F1F4F6;
    --blz-bg-200: #F7F8FA;
    --blz-accent: #36CE00;
    --blz-accent-td: #61C554;
    --blz-darkest: #000000;
    --blz-700: #A9A9A9;
    --blz-500: #BEBEBE;
    --blz-200: #F2F3F5;
    --blz-lightest: #FFFFFF; 


    --blz-bg-main: #E8ECEF;
    --blz-bg: #FFFFFF;
    --blz-bg-chat: #F7F8FA;
    --blz-bg-chat-dark: #F1F4F6;
    --blz-bg-msg-r: #E8ECEF;
    --blz-bg-msg: #61C554;
    --blz-accent: #36CE00;

    */

    /* dark mode */
    --blz-bg-main: #E8ECEF;
    --blz-bg: #161616;
    --blz-bg-chat: #080808;
    --blz-bg-chat-dark: #000000;
    --blz-bg-800: #262626;
    --blz-bg-msg-r: #131313;
    --blz-bg-msg: #61C554;
    --blz-accent: #36CE00;
    --blz-text: #E0E0E0;
    --blz-text-600: #6D6D6D;
    --blz-text-300: #B7B7B7;




}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--blz-bg-main);
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

input {
    width: 100%;
    height: 100%;
    border: none;

    &:focus {
        outline: none;
        border: 2.25px solid var(--blz-bg-msg);
        /* border: 2.5px solid var(--blz-text-600); */
    }
}

img {
    width: 50px;
    border-radius: 50%;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--blz-text-600);
}

h3 {
    font-weight: 400;
}

h3,
.text {
    color: var(--blz-text);
}

/* Utilities */

.container-lg {
    max-width: 1400px;
    width: 80%;
    margin: auto;
}

.avatar {
    height: 100%;
}

/* App styles ---------------------------------------------------> */

.app {
    width: 100%;
    height: 85vh;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--blz-bg);
}

.left {
    min-width: 380px;
    border-right: 1px solid var(--blz-bg-chat);

    & p {
        color: var(--boolz-secondary-dark);
        padding-right: 1rem;
    }
}

.right {
    position: relative;
    width: 100%;

    & p {
        color: var(--boolz-secondary-darker);
    }
}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top,
.status,
.contact_chat {
    padding-inline: 1.5rem;
}

.scrollbar-col {
    scrollbar-color: var(--blz-bg-msg) var(--blz-bg);
}

.scrollbar-chat-col {
    scrollbar-color: var(--blz-bg-msg) var(--blz-bg-chat-dark);
}

/* Left styles ---------------------------------------------------> */

.left {
    .top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 65px;
        padding-top: 1rem;
        padding-right: 1.6rem;

        .buttons {
            color: var(--blz-bg-main);
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 1.2rem;

            & i {
                cursor: pointer;
            }

            & .fa-ellipsis-vertical {
                font-size: 1rem;
            }
        }
    }

    .search {
        height: 40px;
        padding-inline: 1.5rem;
        position: relative;

        & input {
            color: var(--blz-text);
            padding-left: 2.8rem;
            border-radius: 20px;
            background-color: var(--blz-bg-chat-dark);

            &::placeholder {
                color: var(--blz-text-600);
                font-size: 1rem;
            }
        }

        & img {
            position: absolute;
            left: 2.2rem;
            top: 8px;
            width: 23px;

        }
    }

    .status {
        padding: 1rem 0;
        height: 143px;

        & h2 {
            padding-left: 1.5rem;
        }

        .stories {
            padding-left: 1.5rem;
            padding-top: 1rem;
            display: flex;
            justify-content: flex-start;
            gap: 1.2rem;
            overflow-x: auto;
            scrollbar-width: none;

            .text {
                font-size: .9rem;
                color: var(--blz-text-300);
                font-weight: 600;
            }

            .story_add {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                /* margin-right: -0.3rem; */

                .circle {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1rem;
                    height: 1rem;
                    background-color: var(--blz-bg-800);
                    padding: 1.5rem;
                    border-radius: 50%;

                    .plus {
                        position: absolute;
                        width: .8rem;
                    }

                    & img {
                        width: 35px;
                    }
                }
            }

            .story {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                .story_contact {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img {
                        width: 50px;
                    }

                    .circle_contact {
                        position: absolute;
                        border: 2.5px solid var(--blz-accent);
                        width: 58px;
                        height: 58px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .chats_header {
        height: 43px;
        padding: 1rem 0 .5rem 0;
        display: flex;
        padding-left: 1.5rem;
        gap: 1rem;

        #private {
            color: var(--blz-text-300);
        }
    }

    .chats_list {
        height: calc(100% - 291px);
        overflow-x: hidden;
        scrollbar-width: thin;

        .contact_chat {
            height: 80px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: background-color .25s;
            color: var(--blz-text-600);

            &:hover {
                background-color: var(--blz-bg-chat);
            }

            .contact_name {
                & h3 {
                    margin-bottom: .25rem;
                }

                & p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 210px;
                }
            }

            & .hours {
                padding-top: 1.25rem;
                text-align: end;
                font-size: .9rem;
            }
        }

        .selected_chat {
            background-color: var(--blz-bg-chat-dark);
        }
    }
}

/* Right styles ---------------------------------------------------> */

.right {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        .buttons {
            color: var(--blz-bg-main);
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            gap: 1.2rem;

            & i {
                cursor: pointer;
            }

            & .fa-ellipsis-vertical {
                font-size: 1.5rem;
            }
        }
    }

    .chat {
        background-color: var(--blz-bg-chat);
        height: calc(100% - 291px);
        overflow-y: auto;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        scrollbar-width: thin;
        transition: height .5s;

        .message_top::after,
        .message_received::after {
            content: '';
            position: absolute;
            top: 0;
        }

        .message {
            padding: 1rem 1.2rem .3rem 1.2rem;
            border-radius: .5rem;

            width: 60%;
            position: relative;
        }

        .message.sent {
            background-color: var(--blz-bg-msg);
            align-self: flex-end;
        }

        .message.received {
            background-color: var(--blz-bg-msg-r);
        }
    }

    .chat_emojis_close {
        height: calc(100% - 140px);
    }

    .chat_emojis_open {
        height: calc(100% - 320px);
    }

    .message_top {
        display: flex;
        justify-content: space-between;
        gap: .8rem;
    }

    .message_bottom {
        display: flex;
        justify-content: flex-end;
    }

    .fa-angle-down,
    .hours {
        color: var(--boolz-secondary-dark);
    }

    .fa-angle-down {
        font-size: 1.2rem;
        cursor: pointer;
    }

    .hours {
        position: relative;
        font-size: .9rem;
        left: .5rem;
    }

    /* Dropdown effect */

    .arrow_down {
        position: relative;

        & .message_options {
            border-radius: .5rem;
            overflow: hidden;
            background-color: white;
            position: absolute;
            top: 1.5rem;
            right: 0;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
            z-index: 1;
            white-space: nowrap;

            & li {
                text-align: center;
                padding: .8rem 2rem;
            }

            & li:hover {
                background-color: var(--boolz-secondary-lighter);
            }
        }
    }

    .fa-angle-down:hover+.message_options,
    .message_options:hover {
        display: block;
    }

    .bottom {
        height: 70px;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--blz-bg);
        padding: .5rem 0;

        & input {
            width: 100%;
            padding-left: 1rem;
            font-size: 1rem;
        }

        & i {
            padding-inline: 2rem;
            font-size: 1.5rem;
            color: var(--boolz-secondary-darker);
            cursor: pointer;
        }
    }

}


/* Emojis Style ---------------------------------------------------> */

.emoji_open,
.emoji_close {
    position: absolute;
    width: 100%;
    background-color: var(--boolz-secondary-lighter);
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
    transition: .5s;

    .top {
        height: 30px;
        background-color: var(--boolz-secondary-lighter);
    }

    .search_emoji {
        height: 50px;
        padding: .4rem .8rem .4rem .4rem;

        & input {
            background-color: white;
            padding-left: 1rem;
        }
    }

    .emoji {
        padding: 0 .8rem;
        font-size: .8rem;
    }

    .emoji_list {
        padding-bottom: -70px;
    }

    .emojis {
        padding-right: .5rem;
        overflow-x: hidden;
        scrollbar-width: thin;
        height: 130px;
        width: 100%;
        display: flex;
        gap: .3rem;
        flex-wrap: wrap;

        & span {
            cursor: pointer;
            font-size: 1.25rem;
        }
    }
}

.emoji_open {
    bottom: 70px;
    height: 190px;
}

.emoji_close {
    position: absolute;
    bottom: 0px;
    height: 70px;
}

/* Responsive ---------------------------------------------------> */

@media screen and (max-width: 991px) {

    .container-md {
        width: 100%;
    }

    .app {
        height: 100vh;
    }

    .left .top {
        justify-content: center;
    }

    .left .buttons {
        display: none;
    }

    .left {
        min-width: 82px;
    }

    .status,
    .search {
        display: none;
    }

    .right {
        width: 100%;
    }

    .chat {
        padding: 2rem 3rem;
    }

    .chats_list {
        height: 100%;
    }

    .contact_chat {
        padding: 0;

        & .contact {
            margin: auto;
        }

        & .contact_name,
        .hours {
            display: none;
        }
    }
}

@media screen and (max-width: 540px) {

    .left {
        display: none;
    }

    .right {
        width: 100%;
    }

    .chat {
        padding: 2rem;
        width: 100%;
    }
}