:root {
    /* light mode */
    /* --blz-bg-main: #E8ECEF;
    --blz-bg: #FFFFFF;
    --blz-bg-chat: #F7F8FA;
    --blz-bg-chat-dark: #F1F4F6;

    --blz-bg-800: #ffffff;

    --blz-bg-msg-r: #e7e7e7;
    --blz-bg-msg: #36CE00;
    --blz-accent: #36CE00;

    --blz-text: #111111;
    --blz-text-600: #9b9b9b;
    --blz-text-300: #B7B7B7;
    --blz-lightest: #dcdcdc; */

   
    /* dark mode */
    --blz-bg-main: #E8ECEF;
    --blz-bg: #161616;
    --blz-bg-chat: #080808;
    --blz-bg-chat-dark: #000000;
    --blz-bg-800: #262626;
    --blz-bg-msg-r: #131313;
    --blz-bg-msg: #36CE00;
    --blz-accent: #36CE00;
    --blz-text: #E0E0E0;
    --blz-text-600: #6D6D6D;
    --blz-text-300: #B7B7B7;
    --blz-lightest: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--blz-bg-main);
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    border: 2.25px solid transparent;

    &:focus {
        outline: none;
        border: 2.2px solid var(--blz-bg-msg);
        /* border: 2.5px solid var(--blz-text-600); */
    }
}

img {
    width: 50px;
    border-radius: 50%;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--blz-text-600);
}

h3 {
    font-weight: 500;
    letter-spacing: .05rem;
}

h3,
.text {
    color: var(--blz-text);
}

/* Utilities */

.container-lg {
    max-width: 1400px;
    width: 80%;
    margin: auto;
}

.avatar {
    height: 100%;
}

/* App styles ---------------------------------------------------> */

.app {
    width: 100%;
    height: 85vh;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--blz-bg);
}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top,
.status,
.contact_chat {
    padding-inline: 1.5rem;
}

.scrollbar-col {
    scrollbar-color: var(--blz-accent) var(--blz-bg);
}

.scrollbar-chat-col {
    scrollbar-color: var(--blz-accent) var(--blz-bg-chat);
}

.contact_name {
    & h3 {
        margin-bottom: .25rem;
    }

    & p {
        color: var(--blz-text-600);
        font-size: 0.95rem;
    }
}

/* Left styles ---------------------------------------------------> */

.left {
    width: 400px;
    border-right: 1px solid var(--blz-bg-chat);

    .top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 65px;
        padding-top: 1rem;
        padding-right: 1.6rem;

        .buttons {
            color: var(--blz-bg-main);
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 1.2rem;

            & i {
                cursor: pointer;
            }

            & .fa-ellipsis-vertical {
                font-size: 1rem;
            }
        }
    }

    .search {
        height: 40px;
        padding-inline: 1.5rem;
        position: relative;

        & input {
            color: var(--blz-text);
            padding-left: 2.8rem;
            border-radius: 20px;
            background-color: var(--blz-bg-chat-dark);
            color: var(--blz-text-600);
            font-weight: 600;

            &::placeholder {
                color: var(--blz-text-600);
                font-size: 1rem;
                font-weight: 500;
            }
        }

        & img {
            position: absolute;
            left: 2.2rem;
            top: 8px;
            width: 23px;

        }
    }

    .status {
        padding: 1rem 0;
        height: 143px;

        & h2 {
            padding-left: 1.5rem;
        }

        .stories {
            padding-inline: 1.5rem;
            padding-top: 1rem;
            display: flex;
            justify-content: flex-start;
            gap: 1.2rem;
            overflow-x: auto;
            scrollbar-width: none;

            .text {
                font-size: .9rem;
                color: var(--blz-text-300);
                font-weight: 600;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 50px;
            }

            .story_add {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                .circle {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1rem;
                    height: 1rem;
                    background-color: var(--blz-bg-800);
                    background-color: var(--blz-bg-chat-dark);
                    padding: 1.5rem;
                    border-radius: 50%;

                    .plus {
                        position: absolute;
                        width: .6rem;
                    }

                    & img {
                        width: 35px;
                    }
                }
            }

            .story {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                gap: 10px;



                .story_contact {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img {
                        width: 50px;
                        z-index: 1;
                    }

                    .circle_contact {
                        position: absolute;
                        border: 2.5px solid var(--blz-accent);
                        background-color: var(--blz-bg-chat-dark);
                        width: 58px;
                        height: 58px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .chats_header {
        height: 43px;
        padding: 1rem 0 .5rem 0;
        display: flex;
        padding-left: 1.5rem;
        gap: 1rem;

        #private {
            color: var(--blz-text-300);
        }
    }

    .chats_list {
        height: calc(100% - 291px);
        overflow-x: hidden;
        scrollbar-width: thin;

        .contact_chat {
            height: 80px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: background-color .25s;
            color: var(--blz-text-600);

            &:hover {
                background-color: var(--blz-bg-chat);
            }

            & p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
            }

            & .hours {
                padding-top: 1.25rem;
                text-align: end;
                font-size: .9rem;
            }
        }

        .selected_chat {
            background-color: var(--blz-bg-chat-dark);
        }
    }
}

/* Right styles ---------------------------------------------------> */

.right {
    position: relative;
    width: calc(100% - 400px);
    background-color: var(--blz-bg-chat);

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        background-color: var(--blz-bg);

        .buttons {
            color: var(--blz-bg-main);
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            gap: 1.2rem;

            & i {
                cursor: pointer;
            }

            & .fa-ellipsis-vertical {
                font-size: 1.5rem;
            }
        }
    }

    .chat {
        background-color: var(--blz-bg-chat);
        height: calc(100% - 80px);
        overflow-y: auto;
        padding: 3rem 4rem 6rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        scrollbar-width: thin;
        transition: height .5s;
        background-image: url("../img/mine.jpg");

        .message_top::after,
        .message_received::after {
            content: '';
            position: absolute;
            top: 0;
        }

        .message {
            padding: 1rem;
            border-radius: .5rem;
            width: 60%;
            position: relative;

            .message_top {
                display: flex;
                justify-content: space-between;

                .text {
                    width: calc(100% - 14px);
                    padding-right: 1rem;
                    overflow-wrap: break-word;
                    color: var(--blz-lightest);
                    /* font-size: 1.05rem; */
                }

                .arrow_down {
                    width: 14px;
                    position: relative;
                    color: var(--blz-lightest);

                    & .message_options {
                        background-color: var(--blz-bg-800);
                        border-radius: .5rem;
                        overflow: hidden;
                        position: absolute;
                        top: 1.5rem;
                        right: 0;
                        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
                        z-index: 1;
                        white-space: nowrap;

                        & li {
                            text-align: center;
                            padding: .8rem 2rem;
                        }

                        & li:hover {
                            background-color: var(--blz-bg);
                            cursor: pointer;
                        }
                    }
                }

                .fa-angle-down {
                    font-size: 1rem;
                    cursor: pointer;
                }

                .fa-angle-down:hover+.message_options,
                .message_options:hover {
                    display: block;
                }
            }
        }

        .hours {
            position: relative;
            font-size: .9rem;
            top: -8px;
            color: var(--blz-text-600);
        }

        .message_bottom.sent {
            display: flex;
            justify-content: flex-end;

            .hours {
                right: .85rem;
            }
        }

        .message_bottom.received {
            display: flex;

            .hours {
                left: .85rem;
            }
        }

        .message.sent {
            background-color: var(--blz-bg-msg);
            align-self: flex-end;
        }

        .message.received {
            background-color: var(--blz-bg-msg-r);

        }
    }

    .chat_emojis_close {
        height: calc(100% - 80px);
    }

    .chat_emojis_open {
        height: calc(100% - 365px);
    }
}

.bottom {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--blz-bg-chat); */
    background-color: transparent;
    padding: 0 2rem 1.5rem 2rem;
    gap: .8rem;

    .container {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        & input {
            padding-left: 4rem;
            font-size: 1rem;
            background-color: var(--blz-bg);
            border-radius: 40px;
            /* color: var(--blz-accent); */
            color: var(--blz-text-600);
            font-weight: 600;

            &:focus {
                border: none;
            }
        }

        .fa-face-smile {
            position: absolute;
            font-size: 1.8rem;
            color: var(--blz-text-600);
            left: 1rem;
            cursor: pointer;
            transition: color .5s;

            &:hover {
                color: var(--blz-accent);
            }
        }
    }

    .fa-paper-plane {
        background-color: var(--blz-accent);
        height: 98%;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        color: var(--blz-bg-800);
        padding-right: .2rem;
        cursor: pointer;
    }

    /* 
    .mic_icon {
        background-color: var(--blz-accent);
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 1.5rem;
        }
    } */
}

/* Emojis Style ---------------------------------------------------> */

.emoji_open,
.emoji_close {
    position: absolute;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    transition: .5s;

    .top_emojis {
        height: 20px;
    }

    .search_emoji {
        height: 50px;
        padding: .4rem 2.6rem .4rem 2rem;

        & input {
            background-color: var(--blz-bg-chat);
            border-radius: 25px;
            padding-left: 1rem;
            color: var(--blz-text-600);
            font-weight: 600;
        }
    }

    .emoji {
        font-size: .8rem;
        height: 100%;
    }

    .emoji_list {
        padding: 0.5rem 2.8rem 0 2.5rem;
    }

    .emojis {
        padding-right: 1rem;
        overflow-x: hidden;
        scrollbar-width: thin;
        height: 100px;
        width: 100%;
        display: flex;
        gap: .3rem;
        flex-wrap: wrap;

        & span {
            cursor: pointer;
            font-size: 1.25rem;
        }
    }
}

.emoji_open {
    bottom: 0px;
    height: 285px;
    background-color: var(--blz-bg);
}

.emoji_close {
    position: absolute;
    bottom: 0px;
    height: 0px;
}

/* Responsive ---------------------------------------------------> */

@media screen and (max-width: 991px) {

    .container-md {
        width: 100%;
    }

    .app {
        height: 100vh;
        border-radius: 0;
    }

    .left .top {
        justify-content: center;
    }

    .left {
        min-width: 82px;

        .top {
            .buttons {
                display: none;
            }
        }

        .chats_header {
            display: none;
        }
    }

    .status,
    .search {
        display: none;
    }

    .right {
        width: 100%;
    }

    .chat {
        padding: 2rem 3rem;
    }

    .chats_list {
        height: 100%;
    }

    .contact_chat {
        padding: 0;

        & .contact {
            margin: auto;
        }

        & .contact_name,
        .hours {
            display: none;
        }
    }
}

@media screen and (max-width: 540px) {

    .left {
        display: none;
    }

    .right {
        width: 100%;
    }

    .chat {
        padding: 2rem;
        width: 100%;
    }
}